@font-face {
    font-family: "SuperMarketed";
    src: url("../fontes/SuperMarketed/Supermarketed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Caviar";
    src: url("../fontes/Caviar/CaviarDreams.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quantify";
    src: url("../fontes/Quantify/Quantify.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


*{
 margin: 0px;
 padding: 0px;
 font-family: "SuperMarketed", "Caviar", sans-serif;
 font-weight: normal;
 font-style: normal;
 font-size: 14px;
 background-color: black;
 color: white;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

body{
    width: 95%;
}

.top-space{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* //////////////////////////////////////// */
@media screen and (min-width:1101px){
#container{
    padding-top: 5px;
    width: 100%; 
    height: 50px;
    background-color: black;
}
h1{
    font-size: 4em;
    text-align: center;
}
header{
    width: 100%;
    height: 50px;
    padding: 10px 0px;
}

/*---------------------    INICIO   ---------------------*/
#menu{
    width: 100%;
    height: 60px;
}
#itens-menu{
    width: 100%;
    height: 100%;
    text-align: center;
}
#itens-menu a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Caviar";
    padding: 2px 6px;
    width: auto;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 3em;

}
#itens-menu a:hover{
    background-color: white;
    color: black;
    font-size: 3em;
    border-radius: 10px;
}
#apresentacao{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#pri{
    width: 55%;
    height: auto;
}
#texto-apresentacao{
    margin-top: 50px;
    width: 100%;
    height: 250px;
}
#texto-apresentacao p{
    margin-top: 40px;
    width: 80%;
    font-size: 2.8em;
    display: block;
    float: right;
}
#redes-sociais{
    width: auto;
    height: auto;
}
.social{
    width: 90%;
    margin-left: 100px;
    text-align: center;
    display: flex;
}
.social b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    display: block;
    float: left;
}
.social img{
    width: 50%;
    display: block;
    float: right;
}
.item1{
    width: 30%;
}
.item2{
    width: 65%;
}
#imagem-apresentacao{
    width: 45%;
    height: 200px;
}
#imagem-apresentacao img{
    margin-top: -10px;
}
/*---------------------   FIM INICIO   ---------------------*/

/*-----------------------   SOBRE   ------------------------*/
#sobre-mim{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 60px;
}
#imagem-sobre{
    margin-top: 40px;
    width: 35%;
    height: 250px;
}
#imagem-sobre img{
    width: 55%;
    float: right;
    border: 2px solid;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 40px;
    width: 50%;
    height: 400px;
}
#texto-sobre p{
    font-size: 1.8em;
    text-align: left;
}
/*----------------------  FIM SOBRE   ----------------------*/


/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.habilidades{
    display: flex;
    width: 21%;
    height: 100px;
}
.img-hab{
    width: 130px;
}
.img-hab img{
    display: block;
    float: right;
    width: 100px;
    height: 100px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 170px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 2em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 600px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    background-image: url("../imagens/linha.png");
    background-size: 100px 100px;
    width: 8%;
    height: 100px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 0px
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 30px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 3em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 40%;

}
#tabela h4{
    color: black;

}
#tabela p{
    margin-top: 30px;
    font-size: 3em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/


/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 80%;
    height: 700px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 200px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 33%;
    height: 200px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: flex;
    background-color: aqua;
}
#video-jogo{
    width: 45%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 55%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 5em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: 200px;
    font-size: 1.5em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.site{
    margin-top: 20px;
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 90%;
    height: 60%;
    border: 2px solid whitesmoke;
}
.site h1{
    font-family: 'Caviar', Regular;
    width: 80%;
    text-align: left;
    font-size: 3em;
}
.site p{
    width: 80%;
    text-align: left;
    font-size: 1.5em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#contato .social2{
    padding: 10px 0px;
    width:  100%;
    height: auto;
    margin-left: 100px;
    text-align: center;
    display: flex;
}
#contato .social2 b{
    text-align: left;
    font-size: 3em;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    float: left;
}
#contato .social2 img{
    width: 100px;
    display: block;
    float: right;
}
#contato .social2 .item1{
    width: 30%;
}
#contato .social2 .item2{
    width: 70%;
}
#contato .social{
    padding: 10px 0px;
    width: 50%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: flex;
}
#contato .social b{
    text-align: left;
    font-size: 3em;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}
#contato .social img{
    width: 100px;
    display: block;
    float: right;
}
#contato .social .item1{
    width: 30%;
}
#contato .social .item2{
    width: 70%;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 5px 0px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    height: 30px;
}
#criado-por h3 {
    width: 50%;
    float: left;
    font-size: 2em;
    color: black;   
    height: 30px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/
}


/* //////////////////////////////////////// */
@media screen and (max-width:1100px){
#container{
    padding-top: 5px;
    width: 100%;
}
h1{
    font-size: 4em;
    text-align: center;
}
header{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
}
#menu{
    width: 100%;
    height: 60px;
}
#itens-menu{
    width: 100%;
    height: 100%;
    text-align: center;
}
#itens-menu a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Caviar";
    padding: 2px 6px;
    width: auto;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 2.5em;

}
#itens-menu a:hover{
    background-color: white;
    color: black;
    font-size: 2.5em;
    border-radius: 10px;
}
#apresentacao{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#pri{
    width: 55%;
    height: auto;
}
#texto-apresentacao{
    margin-top: 50px;
    margin-left: 120px;
    width: 80%;
    height: 150px;
}
#texto-apresentacao p{
    margin-top: 40px;
    font-size: 2.1em;
    display: block;
    float: right;
}
#redes-sociais{
    width: auto;
    height: auto;
    margin-top: 30px;
}
.social{
    margin-left: 100px;
    width: 100%;
    display: flex;
}
.social b{
    text-align: left;
    font-size: 2em;
    margin-top: 25px;
    display: block;
    float: left;
}
.social img{
    display: block;
    float: right;
}
.item1{
    margin-left: 30px;
    width: 15%;
}
.item2{
    margin-left: -30px;
    width: 65%;
}
#imagem-apresentacao{
    width: 38%;
    height: 400px;
}

/*-----------------------   SOBRE   ------------------------*/

#sobre-mim{
    margin-top: 40px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#imagem-sobre{
    margin-top: 40px;
    width: 35%;
    height: 250px;
}
#imagem-sobre img{
    width: 65%;
    float: right;
    border: 2px solid;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 40px;
    width: 50%;
    height: 400px;
}
#texto-sobre p{
    font-size: 1.5em;
    text-align: left;
}
/*----------------------  FIM SOBRE   ----------------------*/

/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.habilidades{
    display: flex;
    width: 34%;
    height: 100px;
}
.img-hab{
    width: 130px;
}
.img-hab img{
    display: block;
    float: right;
    width: 100px;
    height: 100px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 170px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 2.5em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 600px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    background-image: url("../imagens/linha.png");
    background-size: 100px 100px;
    width: 3%;
    height: 100px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 0px
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 30px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 90%;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 3em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 50%;

}
#tabela h4{
    color: black;

}
#tabela p{
    margin-top: 30px;
    font-size: 3em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/


/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 95%;
    height: 630px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 150px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 33%;
    height: 150px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: flex;
    background-color: aqua;
}
#video-jogo{
    width: 45%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 55%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 4em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: 200px;
    font-size: 1.4em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.site{
    margin-top: 20px;
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 90%;
    height: 60%;
    border: 2px solid whitesmoke;
}
.site h1{
    font-family: 'Caviar', Regular;
    width: 80%;
    text-align: left;
    font-size: 2.2em;
}
.site p{
    width: 80%;
    text-align: left;
    font-size: 1.4em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#contato .social2{
    padding: 10px 0px;
    width:  100%;
    height: auto;
    margin-left: 60px;
    text-align: center;
    display: flex;
    margin: 0px;
}
#contato .social2 b{
    text-align: left;
    font-size: 3em;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    float: left;
}
#contato .social2 img{
    width: 100px;
    display: block;
    float: right;
}
#contato .social2 .item1{
    width: 30%;
    margin: 0px;
}
#contato .social2 .item2{
    width: 70%;
    margin: 0px;
}
#contato .social{
    padding: 10px 0px;
    width: 50%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: flex;
}
#contato .social b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}
#contato .social img{
    width: 80px;
    display: block;
    float: right;
}
#contato .social .item1{
    width: 30%;
    margin: 0px;
}
#contato .social .item2{
    width: 70%;
    margin: 0px;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 5px 0px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    height: 30px;
}
#criado-por h3 {
    width: 50%;
    float: left;
    font-size: 2em;
    color: black;   
    height: 30px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/


}


/* //////////////////////////////////////// */
@media screen and (max-width:790px){
header{
    width: 100%;
    height: 30px;
    padding: 10px 0px;
}

h1{
    font-size: 4em;
    text-align: center;
}


#itens-menu a{
    font-size: 2em;
}

#itens-menu a:hover{
    font-size: 2em;
}

#apresentacao{
    height: 300px;
}

#texto-apresentacao{
    margin-top: 10px;
    margin-left: 100px;
    width: 80%;
    height: 150px;
}

#texto-apresentacao p{
    margin-top: 40px;
    font-size: 1.8em;
    display: block;
    float: right;
}

#redes-sociais{
    width: auto;
    height: auto;
    margin-top: 10px;
}

.social{
    margin-left: 80px;
    width: 100%;
    display: flex;
}

.social b{
    text-align: left;
    font-size: 1.7em;
    margin-top: 10px;
    display: block;
    float: left;
}

/*-----------------------   SOBRE   ------------------------*/

#sobre-mim{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#imagem-sobre{
    margin-top: 40px;
    width: 40%;
    height: 250px;
}

#imagem-sobre img{
    width: 65%;
    float: right;
    border: 2px solid;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 40px;
    width: 50%;
    height: 400px;
}

#texto-sobre p{
    font-size: 1.3em;
    text-align: left;
}

/*----------------------  FIM SOBRE   ----------------------*/


/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.habilidades{
    display: flex;
    width: 50%;
    height: 100px;
}
.img-hab{
    width: 130px;
}
.img-hab img{
    display: block;
    float: right;
    width: 100px;
    height: 100px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 170px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 2em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 700px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    background-image: url("../imagens/linha.png");
    background-size: 100px 100px;
    width: 0.9%;
    height: 100px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 0px
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 30px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 90%;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 3em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 50%;

}
#tabela h4{
    color: black;

}
#tabela p{
    margin-top: 30px;
    font-size: 3em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/


/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 95%;
    height: 630px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 150px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 33%;
    height: 150px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: flex;
    background-color: aqua;
}
#video-jogo{
    width: 45%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 55%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 4em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: 200px;
    font-size: 1.4em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.site{
    margin-top: 20px;
    width: 49%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 90%;
    height: 50%;
    border: 2px solid whitesmoke;
}
.site h1{
    font-family: 'Caviar', Regular;
    width: 80%;
    text-align: left;
    font-size: 2.2em;
}
.site p{
    width: 80%;
    text-align: left;
    font-size: 1.4em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#contato .social2{
    padding: 10px 0px;
    width:  100%;
    height: auto;
    margin-left: 60px;
    text-align: center;
    display: flex;
    margin: 0px;
}
#contato .social2 b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    float: left;
}
#contato .social2 img{
    width: 100px;
    display: block;
    float: right;
}
#contato .social2 .item1{
    width: 30%;
    margin: 0px;
}
#contato .social2 .item2{
    width: 70%;
    margin: 0px;
}
#contato .social{
    padding: 10px 0px;
    width: 50%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: flex;
}
#contato .social b{
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}
#contato .social img{
    width: 80px;
    display: block;
    float: right;
}
#contato .social .item1{
    width: 30%;
    margin: 0px;
}
#contato .social .item2{
    width: 70%;
    margin: 0px;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 5px 0px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    height: 30px;
}
#criado-por h3 {
    width: 50%;
    float: left;
    font-size: 1.7em;
    color: black;   
    height: 30px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/

}


/* //////////////////////////////////////// */
@media screen and (max-width:680px){    
header{
    width: 100%;
    height: 20px;
    padding: 10px 0px;
}
h1{
    font-size: 3.5em;
}
#itens-menu a{
    font-size: 1.7em;
}
#itens-menu a:hover{
    font-size: 1.7em;
}
#apresentacao{
    height: 250px;
}
#pri{
    height: 200px;
}
#texto-apresentacao{
    margin-left: 100px;
    width: 80%;
    height: 130px;
}
#texto-apresentacao p{
    margin-top: 50px;
    font-size: 1.3em;
    display: block;
    float: right;
}
#redes-sociais{
    width: auto;
    height: auto;
    margin-top: 0px;
}
.social{
    margin-left: 80px;
    width: 100%;
    display: flex;
}
.social b{
    text-align: left;
    font-size: 1.3em;
    margin-top: 14px;
    display: block;
    float: left;
}
.social img{
    display: block;
    float: right;
}
.item1{
    margin-left: 30px;
    width: 15%;
}
.item2{
    margin-left: -20px;
    width: 65%;
}
#imagem-apresentacao{
    height: 200px;
}
/*-----------------------   SOBRE   ------------------------*/

#sobre-mim{
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 100%;
}
#imagem-sobre{
    margin-top: 20px;
    width: 90%;
    height: 200px;

}
#imagem-sobre img{
    width: 30%;
    border: 2px solid;
    float: none;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 20px;
    width: 90%;
    height: 300px;
}
#texto-sobre p{
    font-size: 1.4em;
    text-align: center;
}

/*----------------------  FIM SOBRE   ----------------------*/

/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.habilidades{
    display: flex;
    width: 50%;
    height: 100px;
}
.img-hab{
    width: 130px;
}
.img-hab img{
    display: block;
    float: right;
    width: 100px;
    height: 100px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 170px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 1.7em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 600px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    background-image: url("../imagens/linha.png");
    background-size: 80px 80px;
    width: 0.9%;
    height: 100px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    margin: 0px
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 25px;
    font-size: 1.7em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 90%;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 2.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 50%;

}
#tabela h4{
    color: black;

}
#tabela p{
    margin-top: 30px;
    font-size: 2.5em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/


/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 95%;
    height: 760px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 110px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 32%;
    height: 110px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: block;
    background-color: black;
}
#video-jogo{
    width: 90%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 3em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: 200px;
    font-size: 1.4em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.site{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 90%;
    height: 50%;
    border: 2px solid whitesmoke;
}
.site h1{
    font-family: 'Caviar', Regular;
    width: 80%;
    text-align: left;
    font-size: 3.3em;
}
.site p{
    width: 80%;
    text-align: left;
    font-size: 1.4em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#contato .social2{
    padding: 10px 0px;
    width:  100%;
    height: auto;
    margin-left: 60px;
    text-align: center;
    display: flex;
    margin: 0px;
}
#contato .social2 b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    float: left;
}
#contato .social2 img{
    width: 90px;
    display: block;
    float: right;
}
#contato .social2 .item1{
    width: 25%;
    margin: 0px;
}
#contato .social2 .item2{
    width: 70%;
    margin: 0px;
}
#contato .social{
    padding: 10px 0px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: flex;
}
#contato .social b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}
#contato .social img{
    width: 80px;
    display: block;
    float: right;
}
#contato .social .item1{
    width: 25%;
    margin: 0px;
}
#contato .social .item2{
    width: 70%;
    margin: 0px;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 5px 0px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    height: 30px;
}
#criado-por h3 {
    width: 50%;
    float: left;
    font-size: 1.7em;
    color: black;   
    height: 30px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/


}


/* //////////////////////////////////////// */
@media screen and (max-width:580px){
header{
    width: 100%;
    height: 15px;
    padding: 10px 0px;
}
h1{
    font-size: 3.5em;
}
#itens-menu a{
    font-size: 1.3em;

}
#itens-menu a:hover{
    font-size: 1.3em;
}
#texto-apresentacao{
    margin-left: 60px;
    width: 80%;
    height: 90px;
}
#texto-apresentacao p{
    margin-top: 20px;
    font-size: 1.1em;
    display: block;
    float: right;
}
#redes-sociais{
    width: auto;
    height: auto;
}
.social{
    margin-left: 40px;
    width: 100%;
    display: flex;
}
.social b{
    text-align: left;
    font-size: 1em;
    margin-top: 8px;
    display: block;
    float: left;
}
.item2{
    margin-left: -10px;
    width: 65%;
}

/*-----------------------   SOBRE   ------------------------*/

#sobre-mim{
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 100%;
}
#imagem-sobre{
    margin-top: 20px;
    width: 90%;
    height: 200px;

}
#imagem-sobre img{
    width: 35%;
    border: 2px solid;
    float: none;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 10px;
    width: 90%;
    height: 300px;
}
#texto-sobre p{
    font-size: 1.3em;
    text-align: center;
}

/*----------------------  FIM SOBRE   ----------------------*/

/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.habilidades{
    display: flex;
    width: 50%;
    height: 50px;
}
.img-hab{
    width: 90px;
}
.img-hab img{
    display: block;
    float: right;
    width: 80px;
    height: 80px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 170px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 1.3em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 600px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    background-image: url("../imagens/linha.png");
    background-size: 120px 120px;
    width: 1%;
    height: 100px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin: 0px
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 95%;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 2.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 70%;

}
#tabela h4{
    color: black;

}
#tabela p{
    margin-top: 30px;
    font-size: 2em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/


/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 95%;
    height: 760px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 90px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 32%;
    height: 90px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: block;
    background-color: black;
}
#video-jogo{
    width: 90%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 3em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: 200px;
    font-size: 1.4em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.site{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 90%;
    height: 50%;
    border: 2px solid whitesmoke;
}
.site h1{
    font-family: 'Caviar', Regular;
    width: 80%;
    text-align: left;
    font-size: 3.3em;
}
.site p{
    width: 80%;
    text-align: left;
    font-size: 1.4em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 90%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#contato .social2{
    padding: 10px 0px;
    width:  100%;
    height: auto;
    margin-left: 60px;
    text-align: center;
    display: flex;
    margin: 0px;
}
#contato .social2 b{
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    float: left;
}
#contato .social2 img{
    width: 90px;
    display: block;
    float: right;
}
#contato .social2 .item1{
    width: 20%;
    margin: 0px;
}
#contato .social2 .item2{
    width: 80%;
    margin: 0px;
}
#contato .social{
    padding: 10px 0px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    display: flex;
}
#contato .social b{
    text-align: left;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}
#contato .social img{
    width: 80px;
    display: block;
    float: right;
}
#contato .social .item1{
    width: 20%;
    margin: 0px;
}
#contato .social .item2{
    width: 70%;
    margin: 0px;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 5px 0px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    height: 30px;
}
#criado-por h3 {
    width: 50%;
    float: left;
    font-size: 1.5em;
    color: black;   
    height: 30px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/



}


/* //////////////////////////////////////// */
@media screen and (max-width:450px){
#container{
    padding-top: 5px;
    width: 100%; 
}
h1{
    font-size: 3.5em;
}
header{
    width: 100%;
    height: 50px;
    padding: 10px 0px;
}
/*---------------------    INICIO   ---------------------*/
#menu{
    width: 90%;
    height: 60px;
}
#itens-menu{
    width: 100%;
    height: 100%;
    text-align: center;
}
#itens-menu a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Caviar";
    padding: 2px 8px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.7em;

}
#itens-menu a:hover{
    background-color: white;
    color: black;
    font-size: 1.7em;
    border-radius: 10px;
}
#apresentacao{
    width: 90%;
    padding-bottom: 50px;
    height: 600px;
}
#pri{
    width: 100%;
    height: 250px;
}
#texto-apresentacao{
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 130px;
}
#texto-apresentacao p{
    width: 100%;
    font-size: 1.7em;
    display: block;
    float: right;
}
#redes-sociais{
    width: auto;
    height: auto;
}
.social{
    width: 100%;
    margin-left: 0px;
    text-align: center;
    display: flex;
}
.social b{
    text-align: left;
    font-size: 1.5em;
    margin-top: 15px;
    display: block;
    float: left;
}
.social img{
    width: 50%;
    display: block;
    float: right;
}
.item1{
    width: 30%;
}
.item2{
    margin-left: 10px;
    width: 65%;
}
#imagem-apresentacao{
    width: 100%;
    height: 300px;
}
/*---------------------   FIM INICIO   ---------------------*/

/*-----------------------   SOBRE   ------------------------*/
#sobre-mim{
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 100%;
    height: 900px;
}
#imagem-sobre{
    margin-top: 20px;
    width: 90%;
    height: 270px;

}
#imagem-sobre img{
    width: 60%;
    border: 2px solid;
    float: none;
    border-color: aliceblue;
}
#texto-sobre{
    margin-top: 10px;
    width: 85%;
    height: 300px;
}
#texto-sobre p{
    font-size: 1.4em;
    text-align: center;
}
/*----------------------  FIM SOBRE   ----------------------*/

/*-----------------------   O QUE EU SEI   ------------------------*/
#o-que-sei{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.habilidades{
    display: flex;
    width: 50%;
    height: 80px;
}
.img-hab{
    width: 100px;
}
.img-hab img{
    display: block;
    float: right;
    width: 60px;
    height: 60px;
}
.img-hab img:hover{
    display: block;
    float: right;
    transform: scale(1.1);
    transition-duration: 1s;
}
.txt-hab{
    width: 130px;
}
.txt-hab p {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 1.5em;
}
/*-----------------------  FIM O QUE EU SEI   ------------------------*/

/*-----------------------   EXPERIÊNCIA   ------------------------*/
#experiencia{
    width: 100%;
    height: 700px;
}
#linha-do-tempo{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linha{
    width: 0px;
    height: 0px;
    margin: 0px
}
.bola{
    background-image: url("../imagens/circulo.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 5px 5px;
}
.bola:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.bola p{
    color: black;
    background-color:rgba(1, 1, 1, 0);
    margin-top: 30px;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
#tabela{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    height: 350px;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
}
#tabela h3{
    font-size: 2.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 10px auto ;
    width: 70%;
}
#tabela h4{
    color: black;

}
#tabela p{
    width: 90%;
    margin-top: 10px;
    font-size: 2em;
    color: black;
    background-color: white;

}
/*-----------------------  FIM EXPERIÊNCIA   ------------------------*/

/*-----------------------   PROJETOS   ------------------------*/
#projetos{
    margin-top: 80px;
    padding-bottom: 50px;
}
#jogos{
    margin-top: 20px;
    width: 100%;
    height: 1500px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
}
#jogos-feitos{
    background-color: white;
    width: 100%;
    height: 600px;
    border-bottom: 10px solid white;
    align-content: center;
    display: block;
    justify-content: center;
}
.logo-jogo{
    width: 100%;
    height: 200px;
}
.logo-jogo:hover{
    cursor: pointer;
}
#mostra-do-jogo{
    width: 100%;
    height: 420px;
    display: block;
    background-color: aqua;
}
#video-jogo{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}
#video-jogo iframe{
    margin-left: 10px;
}
#texto-jogo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
#texto-jogo h1{
    font-size: 4em;
    font-family: 'Caviar', Regular;
    font-weight: bolder;

}
#texto-jogo p{
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    font-size: 1.7em;
}
#texto-jogo button{
    border-radius: 10px;
    width: 200px;
    color: black;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
#texto-jogo button:hover{
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: 4em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
#sites{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: block;
}
.site{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.site img{
    width: 95%;
    height: 230px;
    border: 2px solid whitesmoke;
}
.site h1{
    margin-top: 20px;
    font-family: 'Caviar', Regular;
    width: 90%;
    text-align: left;
    font-size: 2.5em;
}
.site p{
    width: 90%;
    text-align: left;
    font-size: 1.5em;
}
.site button{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: black;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: white;
}
.site button:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 2.5em;
    font-family: "Quantify", sans-serif ;
    background-color: gray;
}
/*-----------------------  FIM PROJETOS   ------------------------*/

/*-----------------------   CONTATO   ------------------------*/
#contato{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#contato .social2{
    margin-top: 20px;
    width:  100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
#contato .social2 b{
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#contato .social2 img{
    width: 75px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#contato .social2 .item1{
    width: 100%;
    margin: 0px;

}
#contato .social2 .item2{
    width: 100%;
}
#contato .social{
    margin: 0px;
    margin-top: 20px;
    width:  100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
#contato .social b{
    font-size: 3em;
    margin-top: 0px;
    align-content: center;
    text-align: center;
}
#contato .social img{
    width: 75px;
    margin: 0px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#contato .social .item1{
    width: 100%;
    margin: 0px;
}
#contato .social .item2{
    width: 100%;
    margin: 0px;
}
/*-----------------------  FIM CONTATO   ------------------------*/

/*-----------------------   RODAPÉ   ------------------------*/
#criado-por{
    padding: 0px 0px;
    width: 100%;
    text-align: center;
    background-color: white;
    height: 70px;
}
#criado-por h3 {
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    color: black;   
    height: 40px;
    background-color: white;
}
/*-----------------------  FIM RODAPÉ   ------------------------*/
}



